<section>
    <div class="jumbotron">
        <h1 class="text-center">Find your Group</h1>
        <p class="text-center">Search By:</p>
        {{!-- search by: name or location --}}
        <form class="search-form">
            <div class="input-group">
                <div class="input-group-prepend"></div>
                <input class="form-control" type="text" placeholder="therapy group">
                <div class="input-group-append"></div>
            </div>
        </form>
        <p class="text-center"></p>
        <p class="text-center">named:</p>
        <form class="search-form">
            <div class="input-group">
                <div class="input-group-prepend"></div>
                <input class="form-control" type="text" placeholder="therapist's name">
                <div class="input-group-append"></div>
            </div>
        </form>
        <div class="text-center"> 
            <button class="btn btn-primary" type="button">Search</button>
        </div>
        </div>
</section>