<section>
   <div class="jumbotron">
      <h1 class="text-center mb-2">Find What You're Looking For:</h1>
      <div class="d-flex justify-content-center">
          <a class="btn btn-primary m-3 btn-lg" role="button" href="#">Rate Therapist</a>
          <a class="btn btn-primary m-3 btn-lg" role="button" href="#">Find Therapist</a>
      </div>
   </div>
</section>