<div class="jumbotron text-center">
    <h1 class="display-3"><span class="fa fa-globe"></span> Rate My Therapist</h1>
    <p class="lead">The Leading Source for Therapist Reviews &amp; Ratings</p>
    <div class="d-flex justify-content-center">
        <form class="form-inline search-form col-md-6 m-4" id="searchForm">
            <div class="input-group col-md-12 m-0 p-0 search">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input class="form-control" type="text" name="query" id="search" autofocus="true" autocomplete="off" placeholder="Search therapist by name...">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="col-md-8 offset-md-2 mt-5 row">
    <div class="col-md-6 float-left row">
        <div class="bg-dark rounded-circle index-icon float-left col-md-4">
            <h1 class="display-4 text-center text-light col-md-8"><span class="mt-4 fa fa-pencil-alt"></span></h1>
        </div>
        <div class="col-md-8 text-left float-right">
            <h3 class="mb-0"><strong>Write Reviews</strong></h3>
            <p class="lead">for your therapist</p>
        </div>
    </div>
    <div class="col-md-1 m-0 p-0">
        <h1 class="display-4 mt-3 text-primary"><span class="fa fa-hands-helping"></span></h1>
    </div>
    <div class="col-md-6 float-right text-right row">
        <div class="col-md-8">
            <h3 class="mb-0"><strong>Search Therapists</strong></h3>
            <p class="lead">star ratings/reviews</p>
        </div>
        <div class="bg-dark rounded-circle index-icon float-right col-md-4">
            <h1 class="display-4 text-center text-light"><span class="mt-4 fa fa-search"></span></h1>
        </div>
    </div>
</div>
