<div class="col-md-6 offset-md-3 thumbnail">
    {{#if therapists}}
        {{#each therapists}}
            <p>{{name}}</p>
            <p>{{averageRating}}/5</p>
            <div class="stars">{{#stars this.averageRating}}{{/stars}}</div>
        {{/each}}
    {{else}}
        Can't find any therapists by that name! Would you like to add a therapist?
    {{/if}}
</div>