<div class="col-md-6 offset-md-3 thumbnail">
    {{#if therapists}}
        {{#each therapists}}
            <p>{{this.0.name}}</p>
            {{#if this.0.averageRating}}
                <p>{{this.0.averageRating}}/5</p>
                <div class="stars">{{#stars this.0.averageRating}}{{/stars}}</div>
            {{/if}}
        {{/each}}
    {{else}}
        <p class="text-muted">Can't find any therapists by that name! Would you like to <strong>add a therapist?</strong></p>
        <a href="/add" class="btn btn-success">Add Therapist</a>

    {{/if}}
</div>