.dark-blue {
	color: #37434d;
}

.dark-blue-bg {
	background-color: #37434d;
}

.navbar {
	color: white;
}
.stars {
	color: #56CC9D;
}

.search {
	border: solid #6CC3D5 3px;border-radius:10px;
}

.index-icon {
	width: 110px;
	height: 110px;
}